plugins {
    id "com.android.application"
    id "kotlin-android"
    id "dev.flutter.flutter-gradle-plugin"
}

def keystorePropertiesFile = file("key.properties")
def keystoreProperties = new Properties()
def hasKeystore = keystorePropertiesFile.exists()
if (hasKeystore) {
    keystoreProperties.load(new FileInputStream(keystorePropertiesFile))
}

def buildNumber = (System.getenv("VERSION_CODE") ?: "1").toInteger()

android {
    namespace = "com.example.audio_player"
    compileSdk = flutter.compileSdkVersion
    ndkVersion = flutter.ndkVersion

    compileOptions {
        sourceCompatibility = JavaVersion.VERSION_11
        targetCompatibility = JavaVersion.VERSION_11
    }

    kotlinOptions {
        jvmTarget = "11"
    }

    defaultConfig {
        applicationId = "com.example.audio_player"
        minSdk = 21
        targetSdk = flutter.targetSdkVersion
        versionCode = buildNumber
        versionName = "1.1.${buildNumber}"
    }

    signingConfigs {
        release {
            if (hasKeystore) {
                storeFile file(keystoreProperties['storeFile'])
                storePassword keystoreProperties['storePassword']
                keyAlias keystoreProperties['keyAlias']
                keyPassword keystoreProperties['keyPassword']
            }
        }
    }

    buildTypes {
        release {
            if (hasKeystore) {
                signingConfig signingConfigs.release
            } else {
                signingConfig signingConfigs.debug
            }
        }
    }
}

flutter {
    source = "../.."
}